node_modules
database-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
.DS_Store
.gitignore

public/components/landing-page/images/atom.png
public/components/landing-page/images/moon.png
public/components/landing-page/images/students.jpeg
