#banner-container {
    position: relative;
    background-color: var(--custom-teal);
    box-shadow: var(--custom-banner-shadow);
    height: 75px;
    top: 0;
    width: 100%;
}

#banner-container-heading {
    color: var(--custom-purple);
    left: 50%;
    top: 25%;
    position: absolute;
}