#menu-container {
    position: absolute;
    right: 3rem;
    top: 25%;
    height: fit-content;
}

#menu-icon {
    font-size: 30px;
    position: relative;
    color: var(--custom-purple);
}

#menu-options {
    position: absolute;
    top: 30%;
    right: 45%;
    height: 100px;
    width: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--custom-grey);
    opacity: 0.9;
    box-shadow: var(--custom-card-shadow);
    border-radius: 5px;
    cursor: default;

    transition: height 1s ease, box-shadow 1s ease;
}


#menu-options.menu-hidden {
    transition: height 1s ease, box-shadow 1s ease;
    height: 0px;
    box-shadow: none;
}


#logout-button {
    position: absolute;
    padding: 5px 15px;
    background-color: var(--custom-purple);
    border: none;
    border-radius: 5px;
    color: var(--custom-white);
    font-weight: bolder;
    box-shadow: var(--custom-icon-shadow);
    font-size: 1.3rem;
    cursor: pointer;
    height: fit-content;
    top: 55%;
    transition: visibility ease 0.7s .35s;
}

#logout-button.logout-hidden {
    transition: visibility ease .2s;
    visibility: hidden;
}

#logout-button:hover {
    box-shadow: var(--custom-card-shadow);
}

#highlight-icon {
    font-size: 30px;
}

#highlight-icon.off {
    color: var(--custom-purple);
}

#highlight-icon.on {
    color: #FFE600;
    filter: drop-shadow(0px 0px 4px var(--custom-grey));
    font-weight: bolder;
}



#upvote-icon {
   -webkit-text-stroke-color: var(--custom-purple);
    font-size: 30px;
    -webkit-text-stroke-width: 2.2px;
    -webkit-text-fill-color: var(--custom-white);
}

#upvote-icon[data-disabled="true"]{
    -webkit-text-fill-color: var(--custom-purple);
    -webkit-text-stroke-width: 1px;

}


#reply-actions-container {
    height: 100px;
    position: relative;
    margin-top: 50px;
}

#reply-actions-container > #highlight-icon {
    position: absolute;
    left: 20px;
    bottom: 2px;
}

#reply-actions-container > #upvote-container {
    position: absolute;
    left: 80px;
    bottom: 0px;
}

#reply-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: var(--custom-teal);
}

#vote-count {
    margin-left: 10px;
    font-size: 24px;
    color: var(--custom-grey);
    font-weight: bolder;
    cursor: default;
}
