@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Aysr font - open to changing it, just testing this look out :) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import 'banner.css';
@import 'icons.css';
@import 'room.css';
@import 'question-card.css';
@import 'questions.css';
@import 'replies.css';
@import 'menu-navbar.css';
@import 'pitch-section.css';
@import 'use-our-product.css';
@import 'footer.css';
@import 'modal-container.css';
@import 'modal-user-picture.css';
@import 'modal-title.css';
@import 'modal-form-container.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

button, i {
    cursor: pointer;
}

:root {
    --custom-purple: #6154A0;
    --custom-teal: #40F2CE;
    --custom-grey: #9A9A9A;
    --custom-dark-brown: #1A0F16;
    --custom-highlight: #FFE600;
    --custom-card-shadow: 0px 0px 6px 4px #00000045;
    --custom-white: #FFFFFF;
    --custom-icon-shadow: 0px 0px 8px 0px var(--custom-grey);
    --custom-banner-shadow: 0px 4px 8px 2px var(--custom-grey);
    --custom-button-padding: 5px 15px;
}
