#menu-bar {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000001;
}

#nav-aysr-container {
  width: 50vw;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#nav-text-container {
  width: 50vw;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Aysr Text in nav bar */
#aysrHeading {
  margin-left: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 8em;
  color: #ffffff;
  cursor: default;
}

/* About & Log in */
#nav-text-container a + button {
  color: #ffffff;
  margin-right: 10rem;
  /* font-family: 'Playfair Display', serif; */
}

#about-link {
  font-size: 2em;
  margin-right: 5rem;
  text-decoration: none;
  color: #ffffff;
}

/* #about-link:hover {
  font-weight: bold;
} */

#logIn-link {
  background-color: var(--custom-teal);
  color: white;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  width: 10rem;
  font-size: 2em;
  font-weight: bold;
  /* text-align: center; */
}
