#pitch-container {
    width: 100vw;
    height: 80vh;
    background-color: var(--custom-purple);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pitch-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#ask-your-question {
    padding-left: 4rem;
    padding-right: 4rem;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 4rem;
}

#get-your-answer {
    padding-left: 4rem;
    padding-right: 4rem;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 4rem;
}

#ask-your-question p {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    padding-left: 3rem;
    /* color: var(--custom-highlight); */
    /* color: white; */
    color: black;
}

#get-your-answer p {
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    text-align: end;
    /* color: var(--custom-highlight); */
    /* color: #000001; */
    color: white;
}


/* student img container */
#pitch-image-container {
    /* border-radius: 25px; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pitch-image {
    border-radius: 25px;
    height: 75%;
    width: 90%;
    object-fit: cover;
    opacity: 85%;
}
